
  <div>
  <button class="btn-add" (click)="open()"><i class="fas fa-plus"></i></button>
  </div>
<div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
        <th></th>
          <th>Name</th>
          <th>Image</th>
          <th>Status</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let banner of bannersList">
        <td></td>
          <td>{{banner.name}}</td>
          <td>
              <img *ngIf="banner.image;else noBrandImage;" [src]="banner.image" [alt]="banner.image" height="80">
              <ng-template #noBrandImage>
                  <img src="./assets/app/media/img/users/user4.jpg" class="banner-image">
                  <label>{{banner.image}}</label>
              </ng-template>
          </td>
    
          <td *ngIf="banner.isActive==1">ACTIVE</td>
          <td *ngIf="banner.isActive==0">INACTIVE</td>
          <td *ngIf="banner.isActive==0">
            <button type="button" class="btn-edit" (click)="resurrectBanner(banner._id)">
                <i class="fas fa-undo"></i>
            </button>

          </td>
          
          <td *ngIf="banner.isActive==1">
              <button type="button" class="btn-edit">
                <i class="fas fa-edit"(click)="open(banner)"></i>
              </button> &nbsp;&nbsp;
              <button type="button" class="btn-delete" (click)="delete(content)">
                <i class="fas fa-trash-alt"></i>
              </button>
              <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-body">
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-custom-body">
                      <img class="banner-image" src="./assets/app/media/img/users/delete-icn.svg"><br><br>
                      <p style="text-align:center">Are you sure you want to delete this record?</p>
                    </div>
                    <div class="text-center mt-4">
                      <button type="button" class="btn-del" (click)="deleteBanner(banner._id)">Delete</button>
                    </div>
                  </div>
                </ng-template>
              
            </td>
        </tr>
      </tbody>
    </table>
    </div>
    
