.btn-add {
    padding: 1.0rem 1.65rem;
    font-size: 1.25rem;
    line-height: .6;
    color: white;
    border-color: #e95e37;
    margin-left: 88%;
    margin-bottom: 16px;
    background: linear-gradient(to right, #e44216, #f7b733);
}

.header{
    font-size: 3.15rem;
    padding: 1.30rem 4.65rem;
    text-align: center;
}


.btn-edit{
    color:white;
    width:80px;
    background: #2e85a0;
       border-radius: 25%;
    opacity: 1;
}
.btn-edit:hover{opacity: 1;}


.btn-edit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-delete{
    color:white;
    width:80px;
    background: #a73a08;
    opacity: 1;
    border-radius: 25%;
}

.btn-delete:hover{opacity: 1;}


.btn-save{
    color:white;
    width:80px;
    background: #49a558;
     border-radius: 25%;
    opacity: 1;
}
.btn-save:hover{opacity: 1;}


.btn-save:active {
  background-color: #509952;
  transform: translateY(4px);
}

.lbl-err {
    color: red;
 }
 .banner-image {
    /* height: 85px; */
    width: 130px;
    margin-left: 122px;
 }
 .btn-del{
    padding: 1.25rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    margin-right:45px;
    background: #a73a08;

 }
 :host app-ngx-editor /deep/ .ngx-editor-textarea {
    height:500px !important;
 } 

 #commonCms{
    padding-top: 5%; 
    padding-right: 7%;
    padding-left: 7%;
 }

 #customBtns{
     float: right;
     margin-right:10%;
     padding: 5px;
 }

 .mrgRight5{
     margin-right: 8px;
 }
 .ngx-editor-textarea1 {
    height:300px !important;
 
 }