<h2 class="header">About Us</h2>
  
<button class="btn-add" (click)="add()" *ngIf="!aboutUsList">Add</button>

<form name="aboutUsForm" [formGroup]="aboutUsForm" (ngSubmit)="onSubmit()">
 <div id='commonCms'>
    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="content" [(ngModel)]="aboutUsList"
      [config]="editorConfig"></app-ngx-editor>

  </div>
  <div id='customBtns'>
    <div *ngIf="editorConfig.editable;else save;">
      <button type="button" [disabled]="loading" class="btn btn-outline-ark mrgRight5 btn-save" (click)="addAboutUs()">Save</button>
      <button type="button" [disabled]="loading" class="btn btn-outline-ark btn-delete" (click)="cancelAboutUs()">Cancel</button>

    </div>

    <ng-template #save>
      <button type="button" [disabled]="loading" class="btn btn-outline-dark mrgRight5 btn-edit" (click)="addAboutUs()">Edit</button>
      <button type="button" [disabled]="loading" class="btn btn-outline-dark btn-delete" (click)="delete()">Delete</button>

    </ng-template>

  </div>
  

</form>
