.btn-add{
    padding: 1.25rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    
    background-color: transparent;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    margin-left: 90%;
    margin-top:2%;
    margin-right: 5%;
}
.header{
    font-size: 3.15rem;
  
    padding: 1.25rem 4.65rem;
    text-align: center;
   }
   .btn-edit{
    color:white;
    width:80px;
    background: #2e85a0;
       border-radius: 25%;
  
}
.btn-edit:hover{opacity: 1;}


.btn-edit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-delete{
    color:white;
    width:80px;
    background: #a73a08;
  
    border-radius: 25%;
}

.btn-delete:hover{opacity: 1;}


.btn-save{
    color:white;
    width:80px;
    background: #49a558;
   
    border-radius: 25%;
   
}
.btn-save:hover{opacity: 1;}


.btn-save:active {
  background-color: #509952;
  transform: translateY(4px);
}


.banner-image {
    /* height: 85px; */
    width: 130px;
    margin-left: 122px;
 }
 .btn-del{
    padding: 1.25rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    margin-right:45px;
 background-color: transparent;
 background: #a73a08;
    border-color: #a73a08;
 }
 :host app-ngx-editor /deep/ .ngx-editor-textarea {
    height:500px !important;
    
 }

 #commonCms{
    padding-top: 5%; 
    padding-right: 10%;
    padding-left: 10%;
 }

 #customBtns{
     float: right;
     margin-right:10%;
     padding: 5px;
     opacity: none;
 }

 .mrgRight5{
     margin-right: 8px;
 }
 