<div class="modal-header">
   <h4 class="modal-title">{{ isAdd ? 'Add' : isView ? 'View' : 'Edit'}} Cuisine</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="modal-body">
   <form [formGroup]="cuisinForm" (ngSubmit)="addCuisins()">
      <div class="form-group">
         <label for="name">Cuisine Name</label>
         <input type="text" formControlName="name" class="form-control" [(ngModel)]="name" [ngClass]="{'is-invalid':submitted && f.name.errors}" />
         <div *ngIf="submitted && f.name.errors" class="lbl-err">
            <div *ngIf=" f.name.errors.required ">Name is required</div>
            <div *ngIf="f.name.errors.pattern">Name is required</div>
         </div>
      </div>

      <div class="form-group">
         <label>Cuisine Image:</label><br>
         <img [src]="image" class="rounded mb-3" width="50%" height=auto (click)="imagePreview(image)"/> &nbsp;&nbsp;<br>
         <label class="btn-bs-file btn btn-ls btn-info" style="margin-top:6px" text-align="center" *ngIf="!isView && isAdd">image
            <input type="file" formControlName="image" style="display: none" (change)="uploadImage($event)" [ngClass]="{'is-invalid':submitted && f.image.errors}" />
         </label>
         <label class="btn-bs-file btn btn-ls btn-info" style="margin-top:6px" text-align="center" *ngIf="!isView && !isAdd">Edit
            Image
            <input type="file" formControlName="image" style="display: none" (change)="uploadImage($event)" [ngClass]="{'is-invalid':submitted && f.image.errors}" />
         </label>
         <div *ngIf="submitted && f.image.errors" class="lbl-err">
            <div *ngIf="f.image.errors.required">image is required</div>
         </div>
      </div>

      <div class="modal-footer">
         <div class="form-group" *ngIf="!isView">
            <button type="submit" class="btn btn-save">Save</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-delete" (click)="activeModal.close('Close click')">Cancel</button>
         </div>
      </div>
   </form>