<app-aside-nav></app-aside-nav>
<div class="m-grid__item m-grid__item--fluid m-wrapper" style="background: white; 
background: -webkit-linear-gradient(to right, white, white);
background: linear-gradient(to right, white, white); 
">
<!-- <div class="m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body" style=" background-color: white;"></div> -->
<router-outlet></router-outlet>
</div>
<div class="m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body" style=" background-color: white;"></div>
<!-- <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"></div> -->