.table1{
    margin: 43px;
}
.btn1{
    background: #f7b733;
}
.header{
    font-size: 3.15rem;
   
    padding: 1.25rem 4.65rem;
    text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #f1d7a2;
    background-color:#f1d7a2;
    background:#f1d7a2
}