<h2 class="header " >ContactUs List</h2>
<div class="table1">
  <table  datatable class="table-bordered table-hover" >
   <thead>
    <tr>
      <th>Sr.</th>
      <th>UserName</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
   </thead>
    
    <tbody>
      <tr *ngFor="let contact of contactUsList ; let i=index">
      <td>{{i+1}}</td>
      <td>{{contact.name}}</td>
      <td>{{contact.status}}</td>
      <td>
      <button type="button" class="btn-view">
        <i class="fas fa-eye" (click)="open(Rest)"></i> 
      </button>
       &nbsp;&nbsp;
       <button type="button" class="btn btn1" (click)="resolve(contact._id)" >Approve</button> 
     </td>
     </tr>
    </tbody> 
   
  </table>
</div>