.m-aside-menu .m-menu__nav .m-menu__item>.m-menu__heading:hover, .m-aside-menu .m-menu__nav .m-menu__item>.m-menu__link:hover {
    background:#923c03;
}
.menu__nav .m-menu__item>.m-menu__link:hover {
    background: sandybrown;
}
.m-menu__link:hover{
    background: sandybrown;
}
.m-menu__item.m-menu__item--active a{
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    background-color:sandybrown;
 }
 .m-aside-menu .m-menu__nav .m-menu__item>.m-menu__link:hover {
    text-decoration: none;
    cursor: pointer;
    background: sandybrown;
 }