<!-- BEGIN: Left Aside -->
<div class="t1">
<app-header-nav></app-header-nav>
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag=""><i class="la la-close"></i></button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" m-menu-vertical="1"
	 m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="background: linear-gradient(rgb(236, 151, 39), #e97121); ">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
		
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a
				routerLink="/index" class="m-menu__link"><i class="fas flaticon-line-graph"></i>Dashboard
						</a>
			</li>
		
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a
				routerLink="/admin/restaurant" class="m-menu__link"><img src="./assets/demo/default/media/img/logo/restaurant.png" width="20px"/>Restaurants
					 </a>
		   </li>

			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a
				 routerLink="/admin/cuisin" class="m-menu__link" ><img src="./assets/demo/default/media/img/logo/cuisin.png" width="20px"/>Cuisines</a>
			</li>
		
			
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a
				routerLink="/admin/getUserList" class="m-menu__link"><i class="fa fa-users"></i>Users </a>
            	 
		   </li>

		   <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a
			routerLink="/admin/about-us" class="m-menu__link" ><i class="far fa-building"></i>About Us </a>
				  
	       </li>
   
		   		
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"><a
				routerLink="/admin/contact-us" class="m-menu__link" ><i class="fas fa-envelope-open"></i>Contact Us   </a>
					
		   </li>

			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"aria-haspopup="true">
			<a routerLink="/admin/privacy-policy" class="m-menu__link" ><i class="far flaticon-settings"></i>Privacy Policy</a>
			
			</li>
			

	<!----  <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
	   aria-haspopup="true"><a routerLink="/admin/terms-conditions" class="m-menu__link"><i class="m-menu__link-icon flaticon-settings"></i><span
			   class="m-menu__link-text">Terms & Conditions
			  </span></a>
	  </li>


	  <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
	  aria-haspopup="true"><a routerLink="/admin/notifications" class="m-menu__link"><i class="m-menu__link-icon flaticon-settings"></i><span
			  class="m-menu__link-text">Notifications
			 </span></a>
	 </li>

	 -->
			
					</ul>
				</div>
			</div>
		</div>
	
