<form name="termConditionForm" [formGroup]="termConditionForm" (ngSubmit)="onSubmit()">

  <h2 class="header">Terms And Conditions</h2>
  <div id='commonCms'>
    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="content" [(ngModel)]="termsConditionLists"
      [config]="editorConfig"></app-ngx-editor>

  </div>
  <div id='customBtns'>
    <div *ngIf="editorConfig.editable;else save;">
      <button type="button" [disabled]="loading" class="btn btn-outline-ark mrgRight5 btn-save" (click)="addTermCondition()">Save</button>
      <button type="button" [disabled]="loading" class="btn btn-outline-ark btn-delete" (click)="cancelTermCondition()">Cancel</button>

    </div>
  </div>
  <ng-template #save>
    <button type="button" [disabled]="loading" class="btn btn-outline-dark mrgRight5 btn-edit" (click)="addTermCondition()">Edit</button>
    <button type="button" [disabled]="loading" class="btn btn-outline-dark btn-delete" (click)="delete(content)">Delete</button>

  </ng-template>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-custom-body">
        <img class="banner-image" src="./assets/app/media/img/users/delete-icn.svg"><br><br>
        <p style="text-align: center">Are you sure you want to delete this record?</p>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn-del" (click)="deleteTermsConditions(id)">Delete</button>
      </div>
    </div>
  </ng-template>

</form>