<!-- BEGIN: Subheader -->
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Restatutant Details
      </h3>
    </div>
  </div>
</div>
<div class="m-portlet"> 			
  <div class="m-portlet__head"> 				
    <div class="m-portlet__head-caption"> 					
      <div class="m-portlet__head-title"> 						
        <h3 class="m-portlet__head-text">Restatutant Detail Table</h3>
       </div> 				
     </div> 			
   </div> 			
   <div class="m-portlet__body"> 				
     <!--begin::Section--> 				
     <div class="m-section"> 					
       <div class="m-section__content">
          <button class="btn btn-dark btn-small add" (click)="add()">Add</button> 						
         <table  class="table table-bordered table-hover"> 						  	
           <thead> 						    	
             <tr> 						      		
                <th>Sr.</th>				      		
               <th>Restatutant Name</th>
               <th>status</th>
               <th>Action</th>
             </tr> 						  	
           </thead> 						  	
           <tbody> 						    	
             <tr> 							      	
                <tr *ngFor="let user of usersList ; let i=index">
               <td>{{i+1}}</td>						      	
               <td *ngIf="category.isActive==1">ACTIVE
               </td>
                <td *ngIf="category.isActive==0">INACTIVE </td>
    
              
                <td *ngIf="category.isActive==0">
    
                    <button type="button" class="btn-edit" (click)="resurrectCategory(category._id)">
                        <i class="fas fa-undo"></i>
                    </button>
                  </td>
                
                <td *ngIf="category.isActive==1">
                    <button type="button" class="btn-edit">
                      <i class="fas fa-edit"(click)="open(category)"></i>
                    </button> &nbsp;&nbsp;
                    <button type="button" class="btn-delete" (click)="delete(content)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-body">
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="modal-custom-body">
                            <!-- <img class="category-image" src="./assets/app/media/img/users/delete-icn.svg"><br><br> -->
                            <p style="text-align:center">Are you sure you want to delete this record?</p>
                          </div>
                          <div class="text-center mt-4">
                            <button type="button" class="btn-del" (click)="deleteCategory(category._id)">Delete</button>
                          </div>
                        </div>
                      </ng-template>
                    
                  </td>
               <td>
                  <button class="btn btn-dark btn-small" (click)="edit(1)">Edit</button>
                  <button class="btn btn-dark btn-small" (click)="delete(1)">Delete</button>
               </td>			    	
             </tr> 						    	
            
           </tbody> 						
         </table> 					
       </div> 				
     </div> 				
     <!--end::Section--> 			
   </div> 			
   <!--end::Form--> 		
 </div>

