.btn-add {
    padding: 1.20rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1;
    color: white;
    border-color: #f7b733;
    margin-left: 92.5%;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}
.btn-edit{
    color:white;
    background-color: transparent;
    background: #029c16;
    border-color:  #029c16;

}
.btn-delete{
    color:white;
    background-color: transparent;
    background: #a73a08;
    border-color: #a73a08;

}