.btn-add{
    padding: 1.25rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    /* background-color: transparent; */
    border-color:#f7b733;
    margin-left: 95%;
    margin-top:2%;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}
.lbl-err {
    color: red;
 }
.btn-edit{
        color:white;
        background-color: transparent;
        background: #029c16;
        border-color:  #029c16;

    }
    .btn-approve{
        color:white;
        background-color: transparent;
        background: #029c16;
        border-color:  #029c16;

    }

.btn-delete{
   
        color:white;
        background-color: transparent;
        background: #a73a08;
        border-color: #a73a08;

    }

.category-image {
        /* height: 85px; */
        width: 130px;
        margin-left: 122px;
}
.btn-del{
    padding: 1.25rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    margin-right:45px;
 background-color: transparent;
 background: #a73a08;
    border-color: #a73a08;
}
.btn-bs-file btn btn-ls btn-info{
    text-align: center;

}
.label {
    font-weight: 500;
}
.table1{
    margin: 43px;
}
.header{
    font-size: 3.15rem;
    margin-left: 25%;
    padding: 1.25rem 4.65rem;
   }
   /* .rounded mb-3{
       height: 50;
       width: 50;
   } */
  