<div>
  <button class="btn-add" (click)="open()"><i class="fas fa-plus"></i></button>
</div>
<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Sr.</th>
        <th>Restatutant Name</th>
        <th>status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of RestaurantList;let i=index">
        <td>{{i+1}}</td>
        <td>{{list.name}}</td>
        <td>{{list.status}}</td>
        <!-- <td>
          <img *ngIf="category.image;else noBrandImage;" [src]="category.image" [alt]="category.image" width="130px">
          <ng-template #noBrandImage>
            <img src="./assets/app/media/img/users/user4.jpg" class="category-image">
            <label>{{category.image}}</label>
          </ng-template>
        </td> -->
        <!-- <td *ngIf="Restatutant.isActive==ACTIVE">ACTIVE

        </td>
        <td *ngIf="Restatutant.isActive==INACTIVE">INACTIVE </td>


        <td *ngIf="Restatutant.isActive==INACTIVE">

          <button type="button" class="btn-edit" (click)="resurrectCategory(category._id)">
            <i class="fas fa-undo"></i>
          </button>
        </td>

        <td *ngIf="Restatutant.isActive==ACTIVE">
          <button type="button" class="btn-edit">
            <i class="fas fa-edit" (click)="open(category)"></i>
          </button> &nbsp;&nbsp;
          <button type="button" class="btn-delete" (click)="delete(content)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-body">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-custom-body">
                <img class="category-image" src="./assets/app/media/img/users/delete-icn.svg"><br><br>
                <p style="text-align:center">Are you sure you want to delete this record?</p>
              </div>
              <div class="text-center mt-4">
                <button type="button" class="btn-del" (click)="deleteCategory(category._id)">Delete</button>
              </div>
            </div>
          </ng-template>

        </td> -->
      </tr>
    </tbody>
  </table>
</div>