
body{
	margin:0;
	
}
.lbl-err {
    color: red; 
	}
    .size{
       text-align: center;
       width:100%;
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   height: auto;
	   flex-direction: column;
	   user-select: none;
	   padding-top: 2rem;
    }
    .btn-forgot{
        color: white;
        background-color: #e97121;
        padding: .85rem 2rem;
		font-size: 1rem;
		font-weight: 100;
		font-family: monospace;
		/* border-radius: 60px; */
		border-color: #e97121;
		width: 50%;
		text-align: center;
		float: center;
		cursor: pointer;
		border: none;
		outline: none;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
		transition: box-shadow 0.15s ease;
    }
	.btn-login:hover{
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15);
	}

    .checkbox{
        border-color: white;
        color:#575962;
    }
    .cen{
        align-self: center;
    }
	.app-logo{
		height:250px;
		width:250px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("deli_sos_app_mark.png");
		transform-origin: bottom;
		animation: app-logo-intro-anim 0.35s ease;
	}
	@keyframes app-logo-intro-anim{
		0%{
			transform: scale(0,0);
		}
		100%{
			transform: scale(1,1);
		}
	}
	.size h1{
		font-family: 'Changa One', cursive;
		font-size: 24pt;
		font-weight: 400;
		color: #212121;
    }
   
    .top{
        background-image: url("bg-3.jpg");
         background-size: cover;
         height:100vh;
         width:100%;
         background-position: center;
         background-repeat: no-repeat;
     }
    