
.btn-add{
    width:65px;
    /* padding: 1.25rem 1.65rem; */
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    background-color: transparent;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    border-color:#f7b733;
    margin-left: 81%;
    margin-top:2%;
    border-radius: 10px;
 }
.lbl-err {
    color: red;
    /* position: inherit;
    font-size: 14px;
    bottom: -18px; */
 }
 .header{
    font-size: 3.15rem;
   
    padding: 1.25rem 4.65rem;
    text-align: center;
   }
.btn-edit{
         border:none;
        color:gray;
        background-color: transparent;
      }
.btn-delete{
       border:none;
        color:gray;
        background-color: transparent;
     

    }
    .btn-view{
        border:none;
        color:gray;
        background-color: transparent;
       
    }
.banner-image {
        /* height: 85px; */
        width: 130px;
        margin-left: 122px;
}

.btn-del{
    padding: 1.25rem 1.65rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color:white;
    margin-right:45px;
 background-color: transparent;
 background: #a73a08;
    border-color: #a73a08;
}
.table1{
    margin: 45px;
    margin-left: 25px;
}
table.dataTable thead th.sorting,
   table.dataTable thead th.sorting_asc,
   table.dataTable thead th.sorting_desc {
   background: none;
   padding: 4px 5px;
   }
 
   .dataTables_wrapper .pagination .page-item.active>.page-link {
    background: linear-gradient(45deg, #fc4a1a, #f7b733) !important;
    color: #fff;
 }
 .dataTables_wrapper .pagination .page-item:hover>.page-link {
    background: linear-gradient(45deg, #fc4a1a, #f7b733) !important;
    color: #fff;
 }
  .btn.m-btn--hover-brand:hover{
    background: linear-gradient(45deg, #fc4a1a, #f7b733) !important;
    border: none;
 }
 .btn.m-btn--hover-brand:not(.btn-secondary):not(.btn-outline-light) i {
    background: linear-gradient(45deg, #fc4a1a, #f7b733) !important;
 }