img.m--img-rounded.m--marginless {
    margin-left: 95%!important;
    margin-top: -6%!important;
    cursor: pointer !important;
    width:50px !important;
    height:50px !important;
}

.img-circle{
    vertical-align: middle;
    border-style: none;
    float: right;
    border-radius: 50%;
    /* height: 80px; */
    /* background: url("user.jpeg") */
}
.name{
    float:right;
    font-size:22px;
    margin-top: 20px;
    margin-right: 10px
}
h3{
    color:white;
    text-align: center;
    margin-left: 5px;
    margin-top:20px;
    font-size: 30px
}
.label{
    font-style: bold;
    text-align: right
}
.user{
    color:orangered;
    font-weight: 500;
    font :bold;
    font-size: 25px
}
.m1{
    text-align: right;
    margin-left: 90%;
    margin-right: 5px;
  
}
.image{
    vertical-align: middle;
    border-style: none;
    float: right;
    height: 60px;
    width:60px;
    border-radius: 50%
 }
 .m-nav__link.m-dropdown__toggle.pic_nm {
    display: table;
    padding: 10px;
    float: right;
}

.pic_nm span {
    display: table-cell;
    vertical-align: middle;
}