<!-- begin::Page loader -->
<!-- <div class="m-page-loader m-page-loader--base m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;  background:rgb(255, 248, 224)"> -->
   
 
   
   <!-- <div class="m-blockui"> -->
     <ng4-loading-spinner> </ng4-loading-spinner>
    <!-- <span>Please wait...</span> -->
   
 
<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
<!-- end::Page loader -->
<!-- begin:: Page -->
<router-outlet ng-cloak></router-outlet>

<!-- end:: Page -->
<!-- <app-quick-sidebar></app-quick-sidebar> -->
<!-- <app-scroll-top></app-scroll-top> -->
<!-- <app-tooltips></app-tooltips> -->
<!--begin::Base Scripts -->
<!--end::Base Scripts -->
<!--begin::Page Vendors -->
<!--end::Page Vendors -->
<!--begin::Page Snippets -->
<!--end::Page Snippets -->