.lbl-err{
    color: red;
}
.btn-delete{
    color:white;
    width:80px;
    background: #a73a08;
    opacity: 1.5;
    border-radius: 25%;
}
.btn-save{
    color:white;
    width:80px;
    background: #49a558;
     border-radius: 25%;
    opacity: 1.5;
}
.btn:disabled {
    opacity: .65;
}
:host app-ngx-editor .fa {
    color:#000 !important;
 }  
 .ngx-editor-button i.fa, .ngx-editor-button i.fas, .ngx-editor-button i.fa, .ngx-editor-button i.far {
    color: inherit;
    font-size: 18px;
    width:32px;
}