
<h2 class="header">Cuisines</h2>
<button class="btn-add" (click)="open()">Add</button>

<div class="table1">
 <table  *ngIf="cuisinsList" datatable class="table-bordered table-hover">
   <thead>
     <tr>
       <th>Sr.</th>
       <th>Cuisin Name</th>
       <th>Status</th>
       <th >Action</th>
     </tr>
   </thead>
   <tbody>
    
     <tr *ngFor="let cuisin of cuisinsList ; let i=index">
       <td>{{i+1}}</td>
       <td>{{cuisin.name}}</td>
      <td>{{cuisin.status}}</td>
    <td>
        
         <button type="button" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="m-tooltip" (click)="open(cuisin,'view')">
           <i class="fas fa-eye" ></i> 
           </button>
            &nbsp;&nbsp;
         <button type="button"class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="m-tooltip" (click)="open(cuisin,'edit')">
           <i class="fas fa-edit" ></i>
         </button> &nbsp;&nbsp;
         <button type="button"class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="m-tooltip" (click)="delete(cuisin._id)">
           <i class="fas fa-trash-alt"></i>
         </button>
      
       </td>
     </tr>
   </tbody>
 </table>
 </div>


