<div class="modal-header">
  <h4 class="modal-title">{{ isAdd ? 'Add' : 'Edit'}} Restaurant</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form name="RestaurantForm" [formGroup]="RestaurantForm">
    <div class="form-group">
      <label> Restaurant Name</label>
      <input class="form-control m-input" type="text" formControlName="name" [(ngModel)]="name">
      <p *ngIf="RestaurantForm.controls.name.errors?.required && (RestaurantForm.controls.name.dirty || RestaurantForm.controls.name.touched)"
        class="lbl-err">Name is required.</p>
      <p *ngIf="RestaurantForm.controls.name.errors?.pattern " class="lbl-err">Name is required.</p>
    </div><br>


    <div class="form-group">
      <label>Description</label>
      <input class="form-control m-input" type="text" formControlName="description" [(ngModel)]="description">
      <p *ngIf="RestaurantForm.controls.description.errors?.required &&  (RestaurantForm.controls.description.dirty || RestaurantForm.controls.description.touched)"
        class="lbl-err">Description is required.</p>
      <p *ngIf="RestaurantForm.controls.description.errors?.pattern " class="lbl-err">Description is required.</p>

    </div><br>


    <div class="form-group">
      <label>Latitude</label>
      <input class="form-control m-input" type="text" formControlName="latitude" [(ngModel)]="latitude">
      <p *ngIf="RestaurantForm.controls.latitude.errors?.required &&  (RestaurantForm.controls.latitude.dirty || RestaurantForm.controls.latitude.touched)"
        class="lbl-err">Latitude is required.</p>
      <p *ngIf="RestaurantForm.controls.latitude.errors?.pattern" class="lbl-err">Latitude is required.</p>

    </div><br>

    <div class="form-group">
      <label>Longitude</label>
      <input class="form-control m-input" type="text" formControlName="longitude" [(ngModel)]="longitude">
      <p *ngIf="RestaurantForm.controls.longitude.errors?.required && (RestaurantForm.controls.longitude.dirty || RestaurantForm.controls.longitude.touched) "
        class="lbl-err">longitude is required.</p>
      <p *ngIf="RestaurantForm.controls.longitude.errors?.pattern " class="lbl-err">longitude is required.</p>

    </div><br>


    <div class="form-group">
      <label>Open Time</label>
      <input class="form-control m-input" type="time" formControlName="openTime" [(ngModel)]="openTime">
      <p *ngIf="RestaurantForm.controls.openTime.errors?.required && (RestaurantForm.controls.openTime.dirty || RestaurantForm.controls.openTime.touched)"
        class="lbl-err">openTime is required.</p>
    </div><br>

    <div class="form-group">
      <label for="time">Close Time</label>
      <input class="form-control m-input" type="time" formControlName="closeTime" [(ngModel)]="closeTime">
      <p *ngIf="RestaurantForm.controls.closeTime.errors?.required && (RestaurantForm.controls.closeTime.dirty || RestaurantForm.controls.closeTime.touched)"
        class="lbl-err">closeTime is required.</p>
    </div><br>


    <div class="form-group">
      <label>Meal Offers</label>
      <fieldset>
        <div *ngFor="let category of RestaurantForm.controls['mealOffers'].controls; let i = index">
          <input type="checkbox" [formControl]="category" (change)="mealoffer($event,i)">&nbsp;
          <label>{{ mealOffers_arr[i]}}</label>
        </div>
        <br>
      </fieldset>
    </div>



    <div class="form-group">
      <label>Contact Number</label>
      <input class="form-control m-input" type="tel" formControlName="contactNumber" [(ngModel)]="contactNumber">
      <p *ngIf="RestaurantForm.controls.contactNumber.errors?.required && (RestaurantForm.controls.contactNumber.dirty || RestaurantForm.controls.contactNumber.touched)"
        class="lbl-err">Contact Number is required.</p>
      <p *ngIf="RestaurantForm.controls.contactNumber.errors?.pattern && (RestaurantForm.controls.contactNumber.dirty || RestaurantForm.controls.contactNumber.touched)"
        class="lbl-err"> Enter Valid ContactNumber.</p>

    </div>

    <div class="form-group">
      <label>Website</label>
      <input class="form-control m-input" type="text" formControlName="website" [(ngModel)]="website">
      <p *ngIf="RestaurantForm.controls.website.errors?.required &&   (RestaurantForm.controls.website.dirty || RestaurantForm.controls.website.touched)"
        class="lbl-err">Website is required.</p>
      <p *ngIf="RestaurantForm.controls.website.errors?.pattern " class="lbl-err">Website is required.</p>

    </div>


    <div class="form-group">
      <label>Upload Menu Images:</label><br />
      <div *ngFor="let url of menuImages ;let i=index">
        <img [src]="url" class="rounded mb-3" width="50" height="50">
        <button class="btn btn-danger btn-xs" *ngIf="!isView" type="button" style="margin-left:10%" (click)="deleteImage(i,'menu')">Delete</button>
      </div>
      <label class="btn-bs-file btn btn-ls btn-info" style="margin-top:6px" text-align="center" *ngIf="!isView">image
        <input type="file" formControlName="menuImages" accept="image/*" style="display: none" multiple (change)="imageUploading($event,'menu')">
      </label>
    </div>

    <div class="form-group">
      <label>Per Person Cost</label>
      <input class="form-control m-input" type="Number" formControlName="perPersonCost" [(ngModel)]="perPersonCost">
      <p *ngIf="RestaurantForm.controls.perPersonCost.errors?.required && (RestaurantForm.controls.perPersonCost.dirty || RestaurantForm.controls.perPersonCost.touched)"
        class="lbl-err">perPersonCost is required.</p>
      <p *ngIf="RestaurantForm.controls.perPersonCost.errors?.pattern && (RestaurantForm.controls.perPersonCost.dirty || RestaurantForm.controls.perPersonCost.touched)"
        class="lbl-err"> Invalid input. Please enter only numeric value .</p>
    </div>


    <div class="form-group">
      <label>Photos:</label><br />
      <div *ngFor="let files of restaurantImages;let i=index">
        <img [src]="files" class="rounded mb-3" width="50" height="50">
        <button class="btn btn-danger btn-xs" *ngIf="!isView" type="button" style="margin-left:10%" (click)="deleteImage(i,'restaurant')">Delete</button>
      </div>
      <label class="btn-bs-file btn btn-ls btn-info" *ngIf="!isView" style="margin-top:6px" text-align="center">image
        <input type="file" formControlName="restaurantImages" accept="image/*" style="display: none" multiple (change)="imageUploading($event,'restaurant')">
      </label>
    </div>

    <div class="form-group">
      <label>Cuisines:</label><br />
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let cuisinValue of cuisinExist,let i =index" [selectable]="selectable" [removable]="removable"
            (removed)="remove(cuisinValue)">
            {{cuisinValue}}
            <span *ngIf="cuisinValue && !isView" (click)='removeItem(i)' style='color:blue'>&nbsp;&nbsp;x</span>
          </mat-chip>
          <input placeholder="search cuisin" #valuesInput formControlName="cuisinOffered" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" (keyup)='valueChange($event)' (focus)='focusOutFn($event)'>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let values of CuisinList " [value]="values">
            {{CuisinList}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <p *ngIf="RestaurantForm.controls.cuisinOffered.errors?.required && (RestaurantForm.controls.cuisinOffered.dirty || RestaurantForm.controls.cuisinOffered.touched)"
        class="lbl-err"> cuisin is required.</p>
      <ul class="qz" [hidden]="CuisinList.length ==0">
        <li *ngFor="let values of CuisinList" (click)='selectedValue(values)' style='margin-top:3px;'>
          {{values}}
        </li>
      </ul>
    </div>
  </form>

  <div class="modal-footer" *ngIf="!isAdd">
    <button type="submit" class="btn btn-save" (click)="addRestaurant()">Save</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-delete" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
  <div class="modal-footer" *ngIf="isAdd">
    <button type="submit" class="btn btn-save" (click)="addRestaurant()" [disabled]="validateForm()">Save</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-delete" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
</div>